:root.light {
    --btn-color: white;
    --func-color-1: #FFBF69;
    --func-color-2: #2EC4B6;
    --border-color: black;
    --body-color: white;
    --txt-color: black;
    --theme-name: light;
}

:root.dark {
    --btn-color: black;
    --func-color-1: #820263;
    --func-color-2: #2e294e;
    --border-color: white;
    --body-color: black;
    --txt-color: white;
    --theme-name: dark;
} 

@font-face {
    font-family: 'circular';
    src: url(fonts/CircularStd-Medium.woff2) format('woff2');
}

* {
    box-sizing: border-box;
    font-family: 'circular';
}

body {
    background-color: var(--body-color) ;
    transition: all 0.5s;
}

.master {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    flex: 1 0 0;
    justify-content: center;
    align-content: center;
}

.calculator{
    margin-top: 80px;
    width: 280px;
    height: 420px;
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 auto;
    box-shadow: 1px 1px 15px black;
    border-radius: 10px;
}

.calculator * {
    color: var(--txt-color);
}

.button {
    width: 70px;
    height: 70px;
    font-size: 1.3rem;
    font-weight: 100d;
    background-color: var(--btn-color);
    border: 1px solid var(--border-color);
    transition: 0.5s;
}

.number:nth-child(18) {
    border-radius: 0 0 0 10px;
}
.equal {
    border-radius: 0 0 10px 0;
}

.button:hover {
    filter: brightness(80%);
}

.bar {
    display: flex;
    justify-content: end;
    font-size: 2rem;
    width: 280px;
    height: 70px;
    border: 1px var(--border-color) solid;
    border-radius: 10px 10px 0 0;
    transition: all 0.5s;
    padding: 10px;
}

.clicked {
    filter: brightness(80%);
}

.sign, .equal {
    background-color: var(--func-color-1);
    border: 1px var(--border-color) solid;
    transition: all 0.5s;
}

.AC, .del, .perc {
    background-color: var(--func-color-2);
    border: 1px var(--border-color) solid;
    transition: all 0.5s;
}

.theme {
    position: relative;
    float: right;
    width: 120px;
    height: 25px;
    border-radius: 8px;
    background-color: var(--body-color);
    color: var(--border-color);
    border: 1px dashed var(--border-color);
    transition: all 500ms;
}