* {
    box-sizing: border-box;
}

.master {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    flex: 1 0 0;
    justify-content: center;
}

.calculator{
    align-content: center;
    width: 340px;
    height: 800px;
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 auto;
}

.button {
    width: 70px;
    height: 70px;
}

.bar {
    display: flex;
    justify-content: end;
    font-size: 40px;
    width: 280px;
    height: 70px;
    border: 0.8mm black solid;
}